@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);@font-face {
  font-family: "Lemon/Milk";
  src: url("/fonts/LemonMilk/LemonMilk.otf") format("truetype");
}

html {
  background: white;
}

body {
  padding: 0;
  margin: 0 auto;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

