@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);@font-face {
  font-family: "Lemon/Milk";
  src: url("/fonts/LemonMilk/LemonMilk.otf") format("truetype");
}

html,
body {
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
}

main {
  display: -webkit-box;
  display: flex;
  min-height: calc(100vh - 60px);
}

a {
  text-decoration: none;
}

.conteneur {
  width: 100%;
}

.contenu {
  min-height: 100%;
}

