@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap%22);@font-face {
  font-family: "Lemon/Milk";
  src: url("/fonts/LemonMilk/LemonMilk.otf") format("truetype");
}

body {
  color: white;
}

.flexbox {
  display: -webkit-box;
  display: flex;
  align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  height: 100%;
}

.contenu__text {
  margin: 25px;
}

.contenu__text a {
  color: white;
  text-decoration: underline;
}

.contenu__text + .contenu__text {
  border-top: solid white 1px;
}

.image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pictures {
  width: calc(100% - 50px);
  margin: 25px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
  align-content: flex-start;
}

.contenu img {
  -o-object-fit: contain;
     object-fit: contain;
  align-self: flex-start;
  max-width: 400px;
}

.contenu img + img {
  width: 20%;
  margin: 10px;
}

@media only screen and (max-device-width: 880px), (max-width: 880px) {
  .flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

