.welcome--boutique {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  max-height: 250px;
}

.welcome--boutique__image {
  height: 100%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.topSelling {
  color: white;
  font-size: 130%;
  margin: 10px;
  width: 50%;
  font-family: "Roboto";
  text-align: center;
}

.carousel img {
  width: 100%;
}

