@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap%22);@font-face {
  font-family: "Lemon/Milk";
  src: url("/fonts/LemonMilk/LemonMilk.otf") format("truetype");
}

.breadcrumb {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.377);
  border-radius: 0.25rem;
  font-family: "Roboto", sans-serif;
  color: white;
}

.breadcrumb-item.active {
  color: white;
}

.breadcrumb--white {
  color: white;
}

