@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap%22);@font-face {
  font-family: "Lemon/Milk";
  src: url("/fonts/LemonMilk/LemonMilk.otf") format("truetype");
}

/* Mise en page formulaire de contact */

html {
  height: 100%;
}

.conteneur {
  width: calc(100% - 250px);
}

.contenu {
  background-color: #757575;
}

section {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border: ridge 2px #ffc252;
  background-color: black;
  padding: 20px;
  margin: 100px;
  height: 100%;
}

.formTitle {
  font-family: "Roboto", sans-serif;
  font-size: xx-large;
  color: #ffc252;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}

form input,
textarea {
  width: 60%;
  margin-top: 5px;
  margin-bottom: 30px;
}

.form-control {
  width: 60%;
  margin-top: 5px;
  margin-bottom: 30px;
}

textarea {
  height: 300px;
}

form label {
  color: white;
  font-family: "Roboto", sans-serif;
  width: 60%;
}

.submit_button {
  font-family: "Roboto", sans-serif;
  border: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #eb7500), color-stop(50%, #ffc252));
  background: linear-gradient(to right, #eb7500 50%, #ffc252 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.submit_button:hover {
  background-position: left bottom;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.errorMessage {
  text-align: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
}

.footer--desktop {
  width: 100%;
}

@media (max-width: 800px) {
  main {
    height: 100%;
  }

  .formTitle {
    font-size: large;
  }

  form input,
  textarea {
    width: 100%;
  }

  form label {
    width: 100%;
  }

  section {
    margin: 0px;
  }

  .footer--desktop {
    margin-top: 0px;
  }

  .conteneur {
    width: 100%;
  }
}

