@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap%22);@font-face {
  font-family: "Lemon/Milk";
  src: url("/fonts/LemonMilk/LemonMilk.otf") format("truetype");
}

body {
  background: linear-gradient(70deg, #da5d5d, #2755aa);
}

.comment {
  border: 0.3vw solid #6a6666;
  margin: 0 10% 5% 10%;
}

main {
  text-align: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 5vw;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
}

p {
  font-size: 2vw;
}

.conteneur {
  background: linear-gradient(70deg, #9d9f9d, #515251);
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}

section {
  margin: 20px 20px 20px 20px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  -webkit-box-pack: center;
          justify-content: center;
  border: 1px dashed #000000;
}

article {
  font-family: "Roboto", sans-serif;
  border: 1px dashed #000000;
}

.picture_gallery {
  border: 1px dashed #000000;
}

.btn {
  border: none;
  /* Remove borders */
  color: white;
  /* Add a text color */
  padding: 14px 28px;
  /* Add some padding */
  cursor: pointer;
  /* Add a pointer cursor on mouse-over */
}

.fa {
  font-size: 15vw;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.warning {
  background-color: #ff9800;
}

/* Orange */

.warning:hover {
  background: #e68a00;
}

.edit_event {
  background-color: #eb7500;
}

.edit_event:hover {
  background: #b85c00;
}

.add_picture {
  background-color: #eb7500;
}

.participate {
  background-color: #4CAF50;
}

/* Green */

.participate:hover {
  background-color: #46a049;
}

/* Orange */

.add_picture:hover {
  background: #b85c00;
}

.delete {
  background-color: #f44336;
}

/* Red */

.delete:hover {
  background: #da190b;
}

.add_comment {
  background-color: #2196F3;
}

/* Blue */

.add_comment:hover {
  background: #0b7dda;
}

.fa:hover {
  color: darkblue;
}

.picture_gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.public_img {
  border: 1px dashed #000000;
}

aside {
  margin: 2px 2px 2px 2px;
  font-family: "Roboto", italic;
  height: 30vw;
  width: 30vw;
  overflow: auto;
  padding: bottom;
  background-color: #5d89da;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 2vw;
}

aside:hover {
  background-color: #d13333;
}

.comments {
  margin: 2px 2px 2px 2px;
  font-family: "Roboto", italic;
  height: 30vw;
  width: 30vw;
  overflow: auto;
  padding: bottom;
  background-color: #5d89da;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 2vw;
}

.comments:hover {
  background-color: #d13333;
}

