@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);@font-face {
  font-family: "Lemon/Milk";
  src: url("/fonts/LemonMilk/LemonMilk.otf") format("truetype");
}

body {
  background: linear-gradient(70deg, #da5d5d, #2755aa);
}

main {
  text-align: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 5vw;
}

h3 {
  font-family: "Roboto", sans-serif;
}

.conteneur {
  background: linear-gradient(70deg, #9d9f9d, #515251);
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}

section {
  margin: 20px 20px 20px 20px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  -webkit-box-pack: center;
          justify-content: center;
}

article {
  font-family: "Roboto", sans-serif;
}

.picture_gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-pack: end;
          justify-content: flex-end;
  width: 30vw;
  height: 30vw;
  display: block;
}

aside {
  margin: 2px 2px 2px 2px;
  font-family: "Roboto", italic;
  height: 30vw;
  width: 30vw;
  overflow: auto;
  padding: bottom;
  background-color: #5d89da;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 2vw;
}

aside:hover {
  background-color: #d13333;
}

