@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);@font-face {
  font-family: "Lemon/Milk";
  src: url("/fonts/LemonMilk/LemonMilk.otf") format("truetype");
}

body {
  background: #9d9f9d;
  /*background: linear-gradient(70deg, red, rgb(218, 93, 93));*/
  text-align: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 5vw;
}

.conteneur {
  background: #757575;
  margin: 2px 2px 2px 2px;
  display: inline-block;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Roboto", sans-serif;
  -webkit-box-pack: center;
          justify-content: center;
}

section {
  margin: 20px 20px 20px 20px;
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  font-family: "Roboto", sans-serif;
}

article {
  font-family: "Roboto", sans-serif;
  height: 30vw;
  width: 30vw;
}

article img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-pack: end;
          justify-content: flex-end;
  width: 30vw;
  height: 30vw;
  display: block;
}

aside {
  margin: 2px 2px 2px 2px;
  font-family: "Roboto", italic;
  height: 30vw;
  width: 30vw;
  overflow: auto;
  padding: bottom;
  background-color: #5d89DA;
  font-size: 2vw;
}

aside:hover {
  background-color: #d13333;
}

.event_description {
  display: inline-block;
  flex-wrap: wrap;
  -webkit-box-pack: end;
          justify-content: flex-end;
  margin: -2px 0 0 -2px;
}

