body {
  background: #9d9f9d;
}

.img {
  width: 500px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h2 {
  font-family: "Roboto", bolder;
  text-align: center;
  font-size: 50px;
}

.main {
  background: #838683;
  margin: 2px 2px 2px 2px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Roboto", bolder;
}

header {
  background-color: #5d89DA;
  margin: 2px 2px 20px 2px;
  padding: 20px 0 20px 0;
}

section {
  background-color: #da5d5d;
  margin: 20px 20px 20px 20px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}

article {
  font-family: "Roboto", sans-serif;
  min-height: 200px;
  max-height: 500px;
  min-width: 200px;
  max-width: 500px;
}

article:hover {
  background: #d13333;
  margin: 4px 4px 4px 4px;
}

aside {
  margin: 2px 2px 2px 2px;
  font-family: "Roboto", sans-serif;
  min-height: 200px;
  max-height: 500px;
  min-width: 200px;
  max-width: 500px;
  background-color: #da5d5d;
}

.aside {
  display: inline-block;
  flex-wrap: wrap;
  border: 5px solid #2e0a0a;
  margin: 0 0 0 0;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

footer {
  margin: 20px 2px 2px 2px;
  padding: 0 0 200px 0;
  background-color: #757575;
}

