.header {
  background: black;
  padding: 5px;
}

@font-face {
  font-family: "Lemon/Milk";
  src: url("/fonts/LemonMilk/LemonMilk.otf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Black.ttf") format("truetype");
}

.navbar {
  font-family: "Roboto";
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.navbar h1 {
  font-family: "Lemon/Milk";
  margin: 0;
}

.navbar img {
  height: 55px;
}

.navbar--right {
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.navbar--right .navbar {
  margin-right: 10px;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.navbar__logo {
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-left: 5px;
}

.navbar__notification {
  cursor: pointer;
  -webkit-filter: invert(4%) sepia(99%) saturate(7455%) hue-rotate(4deg) brightness(88%) contrast(101%);
          filter: invert(4%) sepia(99%) saturate(7455%) hue-rotate(4deg) brightness(88%) contrast(101%);
}

