@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);@font-face {
  font-family: "Lemon/Milk";
  src: url("/fonts/LemonMilk/LemonMilk.otf") format("truetype");
}

.header {
  background: black;
  padding: 5px;
  color: white;
}

.header a {
  color: white;
}

.customNavbar {
  font-family: "Roboto";
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.customNavbar h1 {
  font-family: "Lemon/Milk";
  margin: 0;
}

.customNavbar img {
  cursor: pointer;
  height: 50px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.customNavbar .customNavbar__notification {
  -webkit-filter: invert(4%) sepia(99%) saturate(7455%) hue-rotate(4deg) brightness(88%) contrast(101%);
          filter: invert(4%) sepia(99%) saturate(7455%) hue-rotate(4deg) brightness(88%) contrast(101%);
}

.customNavbar--right {
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.customNavbar--right .customNavbar {
  margin-right: 10px;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.customNavbar__logo {
  margin-left: 5px;
}

.customNavbar--mobile {
  display: none;
}

@media only screen and (max-device-width: 768px), (max-width: 768px) {
  .customNavbar--desktop {
    display: none;
  }

  .customNavbar--mobile {
    display: -webkit-box;
    display: flex;
  }
}

