@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap%22);@font-face {
  font-family: "Lemon/Milk";
  src: url("/fonts/LemonMilk/LemonMilk.otf") format("truetype");
}

.mentionsLegales--roboto {
  font-family: "Roboto", sans-serif;
}

.mentionsLegales__conteneur {
  background-color: #757575;
}

.mentionsLegales__title {
  text-align: center;
  padding-top: 3%;
  -webkit-padding-after: 3%;
          padding-block-end: 3%;
  color: white;
}

.mentionsLegales__article {
  font-family: "Roboto", sans-serif;
  color: white;
}

.mentionsLegales__group {
  margin-top: 3%;
  margin-left: 12%;
  margin-right: 12%;
}

.mentionsLegales__contenu {
  background-color: #757575;
  padding-left: 12%;
  padding-right: 12%;
}

