@font-face {
    font-family: "Lemon/Milk";
    src: url("/fonts/LemonMilk/LemonMilk.otf") format("truetype");
}
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html,
body {
    margin: 0;
    height: 100%;
}
body {
    padding: 0;
}
main {
    display: flex;
}
a {
    text-decoration: none;
}
.conteneur {
    width: 100%;
}
