@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@font-face {
    font-family: "Lemon/Milk";
    src: url("/fonts/LemonMilk/LemonMilk.otf") format("truetype");
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: "Roboto";
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    min-height: calc(100vh - 60px);
}

a {
    text-decoration: none;
}


/* Contenu principal */
.contenu__main {
    background: hsla(60, 0%, 46%, 1);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
}

/* Contenu annexe */
.contenu {
    background: hsla(120, 1%, 62%, 1);
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
