@import "./responsive.scss";

#search {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.welcome--boutique {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    max-height: 250px;
}
.welcome--boutique__image {
    height: 100%;
    width: 80%;
    object-fit: cover;
    margin: 0 auto;
}
.topSelling {
    margin: 10px;
    width: 50%;
    font-family: "Roboto";
    text-align: center;
}
.carousel img {
    width: 100%;
}
p {
    color: white;
    font-size: 130%;
}
#js-productContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.product {
    width: 375px;
    height: 600px;
    //background: white;
    margin: 25px 25px 0 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: hsla(60, 0%, 46%, 1) 1px 0 10px;
}
.product a {
    width: 100%;
    height: 100%;
}
.product__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    z-index: 0;
}
.product img:hover {
    transform: scale(1.025);
    object-fit: cover;
}
.product__title {
    z-index: 1;
}
.product__image--background {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.spinner__display {
    display: block;
}

.spinner__display--none {
    display: none;
}

.boutique__filter {
    padding: 2%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.589);
}

.filter__element {
    text-align: center;
}
#js-autoCompletionContainer {
    color: black;
    display: flex;
    flex-wrap: wrap;
}
.searchProduct {
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 20%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1vw; /* Set a specific slider handle width */
    height: 1vw; /* Slider handle height */
    background: $orange_1; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4caf50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
