@import "./responsive.scss";

.breadcrumb {
    //!!!!!!!!!!!!! erreur W3C !!!!!!!!!!!!!!!!!
    display: -ms-flexbox;
    display: flex;
    //!!!!!!!!!!!!! erreur W3C !!!!!!!!!!!!!!!!!
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.377);
    border-radius: 0.25rem;
    font-family: $roboto;
    color: white;
}
.breadcrumb-item.active {
    color: white;
}

.breadcrumb--white {
    color: white;
}
