@import "./responsive.scss";


body {
    background: linear-gradient(70deg, $red, darken($blue_1, 20));
}

main {
    text-align: center;
}

h2 {
    font-family: $roboto;
    text-align: center;
    font-size: 5vw;
}

h3 {
    font-family: $roboto;

}

.conteneur {

    background: linear-gradient(70deg, $grey_1, darken($grey_1, 30));
    display: flex;
    flex-wrap: wrap;
    font-family: $roboto;
}

section {
    margin: $px_20;
    display: flex;
    flex-wrap: wrap;
    font-family: $roboto;
    justify-content: center;
}

article {
    font-family: $roboto;
}

.picture_gallery img {
    object-fit: cover;
    justify-content: flex-end;
    width: $cube_dimension;
    height: $cube_dimension;
    display: block;
}

aside {
    margin: $px_2;
    font-family: 'Roboto', italic;
    height: $cube_dimension;
    width: $cube_dimension;
    overflow: auto;
    padding: bottom;
    background-color: $blue_1;
    transition: 0.2s;

    &:hover {
        background-color: darken($red, 10);

    }

    font-size: 2vw;
}
