@import "./responsive.scss";


body {
    background: $grey_1;
    //background: linear-gradient(70deg, red, rgb(218, 93, 93));
}

.img {
    width: 500px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h2 {
    font-family: $roboto;
    text-align: center;
    font-size: 50px;

}

.main {

    background: darken($grey_1, 10);
    margin: $px_2;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: $roboto;
}

header {
    background-color: $blue_1;
    margin: 2px 2px 20px 2px;
    padding: 20px 0 20px 0;
}


section {
    background-color: $red;
    margin: $px_20;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;

    @media screen and (max-width: 880px) {
        display: inline;
        flex-wrap: wrap;
    }
}


article {
    font-family: 'Roboto', sans-serif;

    &:hover {
        background: darken($red, $amount: 10);
        margin: 4px 4px 4px 4px;
    }

    min-height: 200px;
    max-height: 500px;
    min-width: 200px;
    max-width: 500px
}

article img {

    max-height: 100%;
    max-width: 100%;
    margin: 1% 1% 1% 1%;
}

aside {
    margin: $px_2;
    font-family: 'Roboto', sans-serif;
    min-height: 200px;
    max-height: 500px;
    min-width: 200px;
    max-width: 500px;

    background-color: $red;

}

.aside {
    display: inline-block;
    flex-wrap: wrap;
    border: 5px solid darken($red, 50);
    margin: 0 0 0 0;
    justify-content: flex-end;

}

footer {
    margin: 20px 2px 2px 2px;
    padding: 0 0 200px 0;
    background-color: $grey_2;
}

@media #{$medium-up} {}
