@import "./responsive.scss";

body {
    background: linear-gradient(70deg, $red, darken($blue_1, 20));
}

/* la section commentaire */
.comment {
    margin: 0 10% 5% 10%;
    border: 0.3vw solid $blue_1;
}



nav.sidebar {
    background: black;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-size: 20px;
}

nav.sidebar--desktop {
    width: 250px;
    transition: transform 0.5s;
}

nav.sidebar--mobile {
    display: none;
}

nav.sidebar .link {
    border-bottom: 1px solid white;
    padding: 15px;
    position: relative;
    color: white;
}

nav.sidebar .link:hover {
    border-bottom: 1px solid white;
    padding: 15px;
    position: relative;
    color: $orange_1;
}

nav.sidebar .link::before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: white;
    transition: 0.5s;
    transform: scaleX(0);
    transform-origin: bottom left;
}

nav.sidebar .link:hover::before {
    transform: scaleX(1);
    background-color: $orange_1;
}

.sidebar img {
    cursor: pointer;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

@media #{$medium-down} {
    nav.sidebar--desktop {
        position: fixed;
        transform: translateX(-250px);
        //display: none;
    }

    /*nav.sidebar--mobile {
        display: flex;
    }*/
}


main {
    text-align: center;
}

h2 {
    font-family: $roboto;
    text-align: center;
    font-size: 5vw;
}

h3 {
    font-family: $roboto;
    font-size: 3vw;
}

p {
    font-size: 2vw;
}

.btn_conteneur {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.conteneur {
    background: linear-gradient(70deg, $grey_1, darken($grey_1, 30));
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: $roboto;
<<<<<<< HEAD
    min-height: 100%;
=======
>>>>>>> parent of f6fcad2... update
}

section {
    margin: $px_20;
    display: flex;
    flex-wrap: wrap;
    font-family: $roboto;
    justify-content: center;
}

article {
    font-family: $roboto;
    display: flex;
    flex-wrap: nowrap;
    border: 0.5vw solid #181818;

}

.picture_gallery {
    transition: 0.2s;
    justify-content: center;
    text-align: center;
}

.pannel_event {
    border: 0.5vw solid #181818;
}

.btn_conteneur .btn {
    border: none;
    /* Remove borders */
    color: white;
    /* Add a text color */
    /* Add some padding */
    cursor: pointer;
    /* Add a pointer cursor on mouse-over */
    margin: $px_2;
    height: 5vw;
    padding: 0px 1vw 0px 1vw;

}

.fa-thumbs-up {
    margin: 0 0 0 1vw;

}

.fa {
    font-size: 3vw;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    transition: cubic-bezier(0, 1.41, 0.68, 1.95) 0.12s;
}

.img--activated {
    color: darkblue;
}

.warning {
    background-color: #ff9800;
    padding: 1vw 2vw;
    font-size: 1vw;
}

.download {
    background-color: #4caf50;
}

.download:hover {
    background-color: darken(#4caf50, 10);
}

/* Orange */
.warning:hover {
    background: #e68a00;
}

.edit_event {
    background-color: $orange_3;
}

.edit_event:hover {
    background: darken($orange_3, 10);
}

.add_picture {
    background-color: $blue_1;
}

.participate {
    background-color: #4caf50;
}

/* Green */
.participate:hover {
    background-color: #46a049;
}


/* Orange */
.add_picture:hover {
    background: darken($orange_3, 10);
}

.delete {
    background-color: #f44336;
    padding: 1vw 2vw;
    font-size: 1vw;
}

/* Red */
.delete:hover {
    background: #da190b;
}

.add_comment {
    background-color: #2196f3;
}

.conteneur_like {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

/* Blue */
.add_comment:hover {
    background: #0b7dda;
}

.picture_gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1vw solid darken($red, 10);

}

img {
    &:hover {
        filter: blur(0px);
    }
}

.public_img {
    transition: 0.2s;
    margin: 0 10% 5% 10%;
    justify-content: center;
}

aside {
    margin: $px_2;
    font-family: "Roboto", italic;
    height: $cube_dimension + 10vw;
    width: $cube_dimension;
    padding: bottom;
    transition: 0.2s;
    font-size: 2vw;

}

/* Section commentaire */
.comments {
    font-family: "Roboto", italic;
    height: $cube_dimension;
    width: $cube_dimension;
    overflow: auto;
    transition: 0.2s;
    font-size: 2vw;
    max-height: 25vw;
}
