@import "./responsive.scss";

.header {
    background: hsla(0, 0%, 0%, 1);
    padding: 5px;
    color: white;
}

.header a {
    color: white;
}

.customNavbar {
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customNavBar__name {
    text-align: center;
    vertical-align: middle;
    color: red;
}

.customNavbar h1 {
    font-family: "Lemon/Milk";
    margin: 0;
}

.customNavbar img {
    cursor: pointer;
    height: 50px;
    filter: invert(1);
}

.customNavbar .customNavbar__notification {
    filter: invert(4%) sepia(99%) saturate(7455%) hue-rotate(4deg) brightness(88%) contrast(101%);
}

.customNavbar--right {
    justify-content: flex-end;
}

.customNavbar--right .customNavbar {
    margin-right: 10px;
    justify-content: flex-end;
}

.customNavbar__logo {
    margin-left: 5px;
}

.customNavbar--mobile {
    display: none;
}

/* Responsive Header */
@media #{$medium-down} {
    .customNavbar--desktop {
        display: none;
    }

    .customNavbar--mobile {
        display: flex;
    }
}
