//npm run watch
.main__pannel {
    position: absolute; //tmp
    left: 0px; //tmp
    top: 0px; //tmp
    right: 0px; //tmp
    padding: 100px;
    background-color: hsla(60, 0%, 46%, 1);
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.main__pannel__box {
    width: 40%;
    height: 30%;
    box-shadow: 1px 2px 2px rgb(110, 110, 110);
    display: flex;
    align-items: center;
    text-decoration: none;
    opacity: 1;
    transition: 0.4s ease-in-out;
}
.main__pannel__box:hover {
    opacity: 0.7;
}

.main__pannel__box--shop {
    background-size: cover;
    background-position: top 10% center;
    background-image: url(../images/shop.jpg);
}

.main__pannel__box--event {
    background-size: cover;
    background-position: center center;
    background-image: url(../images/event.jpg);
}

.main__pannel__box__title {
    color: white;
    background-color: rgba(80, 80, 80, 0.507);
    width: 100%;
    text-align: center;
    font-size: 100px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.main__pannel__box__caroussel {
    width: 101%;
    height: 100%;
    overflow: hidden;
}

.caroussel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
