@import "./responsive.scss";
html {
    overflow-x: hidden;
}
body {
    background-color: $grey_2;
    overflow: hidden;
}

main {
    width: 100%;
}
//Definir le CSS pour le pannel principal
.main__pannel {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

//Definir le CSS pour un box du pannel principal
.main__pannel__box {
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

//Definir le CSS pour le lien event du pannel principal
.main__pannel__box_image--event {
    height: 100%;
    width: 100%;
    background-image: url("../images/event.jpg");
    background-size: cover;
    background-position: center center;
}

//Definir le CSS pour le lien shop du pannel principal
.main__pannel__box_image--shop {
    height: 100%;
    width: 100%;
    background-image: url("../images/shop.jpg");
    background-size: cover;
    background-position: center center;
}

//Definir le CSS pour le titre d'un lien dans le pannel principal
.main__pannel__box__title {
    font-family: "Lemon/Milk";
    color: white;
    background-color: #49494980;
    width: 100%;
    text-align: center;
    margin-top: 20%;
    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
}

//Enlever soulignement titre d'un lien dans le pannel principal au passage de la souris
.main__pannel__box_image--shop:hover,
.main__pannel__box_image--event:hover {
    text-decoration: none;
}

//Definir le taille d'un caroussel
.carousel {
    width: 101%;
    height: 100%;
}

//Definir le taille du conteneur des images d'un caroussel
.carousel-inner {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

//Definir le taille du d'une lien d'un caroussel
.carousel-item {
    height: 100%;
    width: 100%;
}

//Definir le taille du d'une image d'un caroussel
.caroussel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//Definir la bordure des indicateurs de l'image dans un caroussel
.carousel-indicators li {
    border: solid 1px black;
}

//Definir l'opcité des flèches dans un caroussel
.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
}

//Definir background des flèches dans un caroussel
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 70%;
    background-color: rgba(75, 75, 75, 0.116);
    padding: 20%;
    border-radius: 20% / 50%;
}

//Definir background des flèches dans un caroussel au passage de la souris
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgb(75, 75, 75);
}

//OPT: Definir bordure à droite d'un box
.--bordered-right {
    padding-right: 5%;
    background-color: black;
    box-shadow: 5px 5px 2px $grey_3;
}

//OPT: Definir bordure au dessus d'un box
.--bordered-top {
    padding-top: 5%;
    background-color: black;
    box-shadow: 5px 5px 2px $grey_3;
}

//OPT: Definir bordure à gauche d'un box
.--bordered-left {
    background-color: black;
    padding-left: 5%;
    box-shadow: 5px 5px 1px black;
}

//OPT: Definir background en dégradé pour un box
.--gradient {
    background: linear-gradient(black, $grey_3);
}

//Definir CSS de la section communication
.main__pannel__com {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-color: $grey_3;
    box-shadow: 5px 5px 2px $grey_3;
    border-bottom-left-radius: 100px 100px;
    width: 80%;
    height: 500px;
}

//Definir CSS du box contact
.--contactbox {
    display: block;
    background-color: black;
    width: 50%;
    height: 100%;
    margin-bottom: 50px;
    border-bottom-left-radius: 150px 250px;
}

//Definir CSS du des input du formulaire
.--contactbox input,
textarea {
    font-family: $roboto;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 10%;
    width: 70%;
    border-radius: 3px;
}

//Definir CSS du des label du formulaire
.--contactbox label {
    font-family: $roboto;
    margin-left: 20%;
    width: 100%;
    color: white;
}

//Definir CSS du du trite du box contact
.--contactbox h2 {
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 15px;
    color: white;
    font-size: 20px;
    font-family: $roboto;
}

//Definirdu bouton du formulaire
.--contactbox__button {
    background-color: $orange_1;
    border: none;
}

#message {
    height: 150px;
}

.errorMessage {
    color: red;
    margin-left: 20%;
    margin-right: 10%;
    width: 70%;
}

//Definir CSS du box réseaux sociaux
.--networkbox {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-bottom: 50px;
}

//Definir CSS du contenaire réseaux sociaux
.networkbox__container {
    border: solid 1px $orange_1;
    width: 80%;
    height: 90%;
    border-bottom-left-radius: 100px 100px;
}

//Definir CSS du titre du box réseaux sociaux
.--networkbox h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: $orange_1;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: $roboto;
}

//Definir CSS du contenaire des logos
.networkbox__logocontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10%;
    width: 80%;
    height: 80%;
    margin-top: 10px;
}

//Definir taille des logos
.networkbox__logo {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

//Definir taille des images des logos
.networkbox__logo img {
    border-radius: 10px;
    margin: 10%;
    width: 80%;
    height: 80%;
    object-fit: cover;
}

//Definir mise en page pour mobile
@media (max-width: $medium) {
    //changer taille police
    .main__pannel__box__title {
        font-size: 20px;
    }

    //enlever bordures grises sur les cotés
    .main__pannel {
        padding: 0px;
    }
    .main__pannel__box {
        width: 50%;
    }
    //mettre caroussel les un en dessous des autres.
    .--carousel {
        width: 100%;
    }
    //enlever bordures grises
    .main__pannel__com {
        padding: 0px;
        width: 100%;
        height: 1200px;
        border-bottom-left-radius: 0px;
    }
    //metrre box de communication les  uns à la suite des autres
    .--contactbox {
        height: 50%;
        width: 100%;
        margin-bottom: 0px;
        border-bottom-left-radius: 0px;
    }
    .--networkbox {
        height: 50%;
        width: 100%;
        margin-bottom: 0px;
    }
    //reajuster le formulaire
    .--contactbox input,
    textarea {
        margin-left: 15%;
    }

    .--contactbox label {
        margin-left: 15%;
    }

    .--contactbox h2 {
        margin-left: 20%;
        margin-right: 20%;
        padding-bottom: 30px;
    }
    //supprimer les bordures
    .networkbox__container {
        height: 95%;
        width: 95%;
        border-bottom-left-radius: 0px;
    }

    .--bordered-right {
        padding-right: 0px;
        background-color: black;
        box-shadow: 0px;
    }

    .--bordered-top {
        padding-top: 0px;
        background-color: black;
        box-shadow: 0px;
    }

    .--bordered-left {
        background-color: black;
        padding-left: 0px;
        box-shadow: 0px;
    }
}
