@import "./responsive.scss";
html {
    overflow-x: hidden;
}
body {
    background-color: $grey_2;
    overflow: hidden;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.conteneur {
    width: calc(100% - 250px);
}

.main__pannel {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.main__pannel__box {
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.main__pannel__box_image--event {
    height: 100%;
    width: 100%;
    background-image: url("../images/event.jpg");
    background-size: cover;
    background-position: center center;
}

.main__pannel__box_image--shop {
    height: 100%;
    width: 100%;
    background-image: url("../images/shop.jpg");
    background-size: cover;
    background-position: center center;
}

.main__pannel__box__title {
    font-family: "Lemon/Milk";
    color: white;
    background-color: #49494980;
    width: 100%;
    text-align: center;
    margin-top: 20%;
    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.main__pannel__box_image--shop:hover,
.main__pannel__box_image--event:hover {
    text-decoration: none;
}

.carousel {
    width: 101%;
    height: 100%;
}

.carousel-inner {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.carousel-item {
    height: 100%;
    width: 100%;
}

.caroussel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-indicators li {
    border: solid 1px black;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 70%;
    background-color: rgba(75, 75, 75, 0.116);
    padding: 20%;
    border-radius: 20% / 50%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgb(75, 75, 75);
}

.--bordered-right {
    padding-right: 5%;
    background-color: black;
    box-shadow: 5px 5px 2px $grey_3;
}

.--bordered-top {
    padding-top: 5%;
    background-color: black;
    box-shadow: 5px 5px 2px $grey_3;
}

.--bordered-left {
    background-color: black;
    padding-left: 5%;
    box-shadow: 5px 5px 1px black;
}

.--gradient {
    background: linear-gradient(black, $grey_3);
}

.main__pannel__com {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-color: $grey_3;
    box-shadow: 5px 5px 2px $grey_3;
    border-bottom-left-radius: 100px 100px;
    width: 80%;
    height: 500px;
}

.--contactbox {
    display: block;
    background-color: black;
    width: 50%;
    height: 100%;
    margin-bottom: 50px;
    border-bottom-left-radius: 150px 250px;
}

.--contactbox input,
textarea {
    font-family: $roboto;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 10%;
    width: 70%;
    border-radius: 3px;
}

.--contactbox label {
    font-family: $roboto;
    margin-left: 20%;
    width: 100%;
    color: white;
}

.--contactbox h2 {
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 15px;
    color: white;
    font-size: 20px;
    font-family: $roboto;
}

.--contactbox__button {
    background-color: $orange_1;
    border: none;
}

#message {
    height: 150px;
}

.errorMessage {
    color: red;
    margin-left: 20%;
    margin-right: 10%;
    width: 70%;
}

.--networkbox {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-bottom: 50px;
}

.networkbox__container {
    border: solid 1px $orange_1;
    width: 80%;
    height: 90%;
    border-bottom-left-radius: 100px 100px;
}

.--networkbox h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: $orange_1;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: $roboto;
}

.networkbox__logocontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10%;
    width: 80%;
    height: 80%;
    margin-top: 10px;
}

.networkbox__logo {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

.networkbox__logo img {
    border-radius: 10px;
    margin: 10%;
    width: 80%;
    height: 80%;
    object-fit: cover;
}

@media (max-width: $medium) {
    .main__pannel__box__title {
        font-size: 20px;
    }

    .main__pannel {
        padding: 0px;
    }
    .main__pannel__box {
        width: 50%;
    }
    .--carousel {
        width: 100%;
    }
    .main__pannel__com {
        padding: 0px;
        width: 100%;
        height: 1200px;
        border-bottom-left-radius: 0px;
    }
    .--contactbox {
        height: 50%;
        width: 100%;
        margin-bottom: 0px;
        border-bottom-left-radius: 0px;
    }
    .--networkbox {
        height: 50%;
        width: 100%;
        margin-bottom: 0px;
    }
    .--contactbox input,
    textarea {
        margin-left: 15%;
    }

    .--contactbox label {
        margin-left: 15%;
    }

    .--contactbox h2 {
        margin-left: 20%;
        margin-right: 20%;
        padding-bottom: 30px;
    }
    .networkbox__container {
        height: 95%;
        width: 95%;
        border-bottom-left-radius: 0px;
    }

    .--bordered-right {
        padding-right: 0px;
        background-color: black;
        box-shadow: 0px;
    }

    .--bordered-top {
        padding-top: 0px;
        background-color: black;
        box-shadow: 0px;
    }

    .--bordered-left {
        background-color: black;
        padding-left: 0px;
        box-shadow: 0px;
    }

    .conteneur {
        width: 100%;
    }
}
