@import "./responsive.scss";

.conteneur {
    width: 100%;
}

.panier__body {
    margin-top: 1%;
}

.panier__title {
    font-family: $roboto;
    font-size: 150%;
    text-align: center;
    padding-top: 1;
    // !!!!!!!!!!!!!!! Erreur W3C !!!!!!!!!
    padding-block-end: 1%;
    color: white;
}

.panier__article {
    background-color: white;
    border: 1px solid $grey_1;
    // padding: 5px;
    position: relative;
    width: 100%;
}

.article__body {
    padding: 1.5%;
    text-align: justify;
}

.panier__img {
    object-fit: cover;
    width: 19%;
    height: 19%;
    float: left;
}

.clearfix {
    overflow: auto;
}

.panier__commande {
    float: right;
    width: 12vw;
    height: 20vw;
    background-color: $orange_1;
    text-align: center;
    padding-top: 1%;
}

.panier__liste {
    float: left;
}

.panier__roboto {
    font-family: $roboto;
    color: white;
}
