.sidebar {
    background: hsla(0, 0%, 0%, 1);
    padding: 5px;
}
@font-face {
    font-family: "Lemon/Milk";
    src: url("/fonts/LemonMilk/LemonMilk.otf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Black.ttf") format("truetype");
}
.sidebar {
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar h1 {
    font-family: "Lemon/Milk";
    margin: 0;
}

.sidebar img {
    cursor: pointer;
    height: 50px;
    filter: invert(1);
}
.sidebar .sidebar__notification {
    filter: invert(4%) sepia(99%) saturate(7455%) hue-rotate(4deg)
        brightness(88%) contrast(101%);
}
.sidebar--right {
    justify-content: flex-end;
}
.sidebar--right .sidebar {
    margin-right: 10px;
    justify-content: flex-end;
}
.sidebar__logo {
    margin-left: 5px;
}

.sidebar--mobile {
    display: none;
}
@media only screen and (max-device-width: 768px), (max-width: 768px) {
    .sidebar--desktop {
        display: none;
    }
    .sidebar--mobile {
        display: flex;
    }
}
